<html>
    <head>
        <title>
            My HTML Page
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link rel="stylesheet" href="./css/index.css">
        <style>

        </style>
    </head>
    <body >
        <div class = "container">
            Hello Static Page   
        </div>
    </body>
</html>